#outer
{
width:1000px;
height:auto;
min-height:1000px;
margin:0px auto;
//border:1px solid white;
}
#header
{
width:1000px;
height:auto;
min-height:150px;
}
#logo
{
width:150px;
height:auto;
min-height:150px;
//background-color:cyan;
float:left;
}
#title
{
width:850px;
height:auto;
min-height:150px;
background-color:navy;
float:right;
color:white;
font-size:50px;
text-align:center;
line-height:150px;
}
#menu
{
width:1000px;
height:auto;
min-height:50px;
background-color:white;
margin-top:5px;
}
#menu ul
{
list-style-type:none;
line-height:50px;
}
#menu ul li
{
display:inline;
}
#menu ul li a
{
font-size:20px;
color:black;
padding-left:20px;
text-decoration:none;
}
#menu ul li a:hover
{
color:orange;
}
#main
{
width:1000px;
height:auto;
min-height:600px;
margin-top:5px;
background-color:white;
border:1px solid orange;
}
}
#footer
{
width:1000px;
height:auto;
min-height:125px;
//background-color:grey;
margin-top:5px;
}
#lfooter
{
width:500px;
height:auto;
min-height:130;
background-color:black;
float:left;
color:white;
text-align:center;
font-size:40px;
line-height:130px;
}
#rfooter
{
width:500px;
height:auto;
min-height:130px;
background-color:navy;
float:right;
color:white;
text-align:center;
font-size:40px;
line-height:130px;
}